<div class="container py-5">
    <h1 class="text-center mb-4">Acerca de Nosotros</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="images/apple-touch-icon.png" alt="Acerca de nosotros" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-6">
            <p class="lead">
                Somos una empresa apasionada por los videojuegos. Nos dedicamos a ofrecer una amplia variedad de títulos para todas las plataformas y edades. Nuestro objetivo es brindar experiencias memorables a los gamers de todo el mundo.
            </p>
            <p>
                En EpicForge, trabajamos con los mejores desarrolladores para traerte las últimas novedades del mercado. ¡Gracias por ser parte de nuestra comunidad!
            </p>
        </div>
    </div>
</div>
